BeautifulSoup==3.2.1
Brlapi==0.5.7
Flask==0.8
GDAL==1.9.0
GnuPGInterface==0.3.2
Jinja2==2.6
Mako==0.7.0
MarkupSafe==0.15
PIL==1.1.7
SOAPpy==0.12.0
Unidecode==0.04.9
Werkzeug==0.8.3
apt-xapian-index==0.45
argparse==1.2.1
audioread==0.6
chardet==2.0.1
cups==1.0
defer==1.0.6
distribute==0.6.*
feedparser==5.1.2
fpconst==0.7.2
httplib2==0.7.4
louis==2.4.1
munkres==1.0.5.4
musicbrainzngs==0.2
mutagen==1.20
numpy==1.6.2
pexpect==2.4
pyOpenSSL==0.13
pyacoustid==0.7
pycurl==7.19.0
pymad==0.6
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
python-musicbrainz2==0.7.4
pyxdg==0.19
reportbug==6.4.4
reportlab==2.5
uTidylib==0.2
unattended-upgrades==0.1
virtualenv==1.7.1.2
wsgiref==0.1.2
